@font-face{
  font-family: 'Antic-Slab';
  src: url('AnticSlab-Regular.ttf');
}
.navigation{
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
}
.navigation #chbox{
  position: absolute;
  top: 0;
  right: 0;
  height: 50px;
  width: 50px;
  z-index: 2;
  cursor: pointer;
  opacity: 0;
}
.wrapper .hamburger{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1rem;

}
.wrapper  .hamburger >div{
  z-index: 1;
  position: relative;
  display: block;
  width: 100%;
  height: 2px;
  background: #fff;
  transition: all 0.4s ease;
}
.wrapper .hamburger .div1{ 
  
  top: 0px;
}

.wrapper .hamburger .div2{
 
  top: 10px;
}
.wrapper  .hamburger .div3{
 
  top: 20px;
}
.navigation #chbox:checked + .wrapper .hamburger >.div1{
  transform: rotate(-28deg);
  width: 90%;
  height: 3px;
  border-radius: 1px;

}
.navigation #chbox:checked + .wrapper .hamburger >.div2{
  transform: rotate(90deg) translateY(-25px) ;
  width: 90%;
  height: 3px;
  border-radius: 1px;

}
.navigation #chbox:checked + .wrapper  .hamburger >.div3{
  transform: rotate(28deg);
  width: 90%;
  height: 3px;
  border-radius: 1px;
}


.wrapper #menu{
  display: flex;
  overflow: hidden;
  width: 0;
  text-decoration: none;
  text-align: center;
  justify-items: center;
  margin-right: 100px;
  background-color: blueviolet;
  transition: 0.5 ease;
  height: 0;
 
  
  
}
.wrapper #menu a{
  text-decoration: none;
  list-style: none;
  margin-left: 1em;
  font-size: 25px;
  font-family: Antic-Slab;
  
}
.navigation #chbox:checked .wrapper #menu:hover{
 width: 100%;
 height: 100%;

}

